
#navListPanel li #subNav3 {
	display:none !important;
}

#siteFooter {
	margin-top: 0 !important;
}

#footerSecDetails .thumblist li {
	max-width: 100%;
	width: 100px;
}

.relatedDownload a {
	margin-left: 0 !important;
}
