/***************News Page***************/

.newsSection {
	margin-bottom: 1em;
	.sectionTitle {
		font-size: 1.15em;
	}
	.date {
		font-size: .75em;
		color: $dark-aig-blue;
	}
}

/***************End News Page***************/