/***************Finland******************/
header {
	padding-bottom: 1.5em !important;
}
#logo img {
	max-width: 175px !important;
}
.hasBanner .bnrDesc h2 {
	@include breakpoint($super-tablet $sub-desktop, $no-query: true) {
		font-size: 1.2em;
	}
	@include breakpoint($sub-tablet 450px, $no-query: true) {
		font-size: 1.2em;
	}
}


/***************End Finland******************/