/***************UAE******************/

	/***************Global******************/
	.tabcontainer {
		border: 1px solid $light-aig-blue;
		border-radius: 6px;
		padding: 1em;
		margin-bottom: 1em;
		.title {
			font-size: 1.5em;
			text-align: center;
			margin-bottom: .5em;
			color: $yellow;
			font-family: $futura-med;
		}
		li {
			margin-bottom: 1em;
		}
		label {
			display: block;
			margin-bottom: .25em;
			color: $aig-blue;
		}
		.error {
			display: none;
			color: tomato;
		}
		.button {
			border: medium none;
			cursor: pointer;
			@include button-gradient;
			background-color: #E36F1E;
			color: #FFFFFF !important;
			display: block;
			font-size: 15px;
			padding: 8px 20px;
			text-decoration: none;
			font-family: 'aig_futurabold', Helvetica, Arial, sans-serif;/*Global Font*/
			border-radius:6px;
			text-transform: uppercase;
			text-align:center;
			margin: auto;
			width: auto;
			&:hover {
				background-color: #c85c11;
				transition: background-color 0.25s ease 0s;
				-webkit-transition: background-color 0.25s ease 0s;
				padding:7px 19px;
				border:1px solid #e36f1e;
			}
			&:active {
				background-color: #b44a01;
				border:1px solid #983e00;
			}
		}
		.retriveQuote {
			text-align: center;
		}
	}
	.tabnav {
		text-align: center;
		li {
			display: inline-block;
		}
		a {
			padding: .5em;
			border: 1px solid $light-aig-blue;
			display: block;
			&.activeTab {
				background: $aig-blue;
				color: #fff;
				&:hover {
					background: $aig-blue;
				}
			}
			&:hover {
				text-decoration: none;
				background: $light-aig-blue;
				color: #fff;
			}
		}
	}
	select, input {
		font-size: 1em;
		width: 100%;
		border: 1px solid #ccc;
		padding: 5px;
		color: #666;
	}
	.areaCode, .phoneNo, #homeAreaCode, #homemobileNo {
		display: inline;
	}
	.areaCode, #homeAreaCode {
		width: 50px;
	}
	.phoneNo, #homemobileNo {
		width: 75px;
	}
	#getQuoteDiabled {
		display: none;
	}

	input[type=radio] {
		display: inline;
		width: auto;
		margin-bottom: 1em;
	}

	.calDynWidget {
		table {
			background: #fff;
			border: 1px solid $aig-blue;
			table {
				border: none;
			}
		}
	}


	/***************End Global******************/

	/***************Homepage******************/

	.hasBanner {
		
	}


	/***************End Homepage******************/

/***************End UAE******************/
